torch>=1.13.0
numpy
scipy
pandas
biopython
openfold @ git+https://github.com/aqlaboratory/openfold.git@main
mmseqs2
rdkit-pypi
scikit-learn
matplotlib
seaborn
py3Dmol
shap
lime
tqdm
pyyaml
hydra-core
tensorboard
